.FALTA{
    display: flex;
    justify-content: center;
    align-items: center;    
    color: crimson;
    font-size: 40px;
}

.buttom{
    width: 225px;
    height: 42px;
    background: #E8833A;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Topo{
    background-color: #C3CFD9;
    color: #E8833A;
    font-size: 34px;

    height: 67px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.generic{
    height: 110px;
    color: #293845;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.caixa {
    width:40%;
    height: 200px;
    margin: 5% 5%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    
}

img{
    width: 95%;
    height: 95%;    
}

.Corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Sucesso .generic{
    color:#247A6B;
    letter-spacing: 0.04em;
    text-align: center;
    line-height: 28px;


}

.Footer{
    width: 375px;
    height: 117px;
    background: #DFE6ED;
    border: 1px solid #9EADBA;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}